<p>createticket </p>
<form [formGroup]="ticketForm" (ngSubmit)="onSubmit()">
    <label for="fname">عنوان: </label><br>
    <input type="text" formControlName="title"><br>
    <label for="lname">موضوع:</label><br>
    <input type="text" formControlName="topicId"><br>
    <label for="fname">بخش:</label><br>
    <input type="text" formControlName="roleId"><br>
    <label for="lname">میزان اهمیت:</label><br>
    <input type="text" formControlName="priority"><br>
    <label for="fname">کاربر گیرنده:</label><br>
    <input type="text" formControlName="receiverUserId"><br>
    <label for="fname">توضیحات:</label><br>
    <textarea formControlName="description" rows="10" cols="100"></textarea><br>
    <label for="fname">فایل پیوست:</label><br>
    <input type="text" formControlName="attachedId"><br>
    <label for="fname">آدرس صفحه:</label><br>
    <input type="text" formControlName="pageUrl"><br>

    <button type="submit" [disabled]="!ticketForm.valid">ارسال تیکت</button>
</form>







