<p>ticket-list</p>

<style>
    table,
    th,
    td {
        border: 1px solid black;
    }
</style>

<table style="width:100%">
    <tr>
        <th>id</th>
        <th>title</th>
        <th>roleid</th>
        <th>status</th>
        <th>createDate</th>
        <th>updateDate</th>
        <th>serviceId</th>
        <th>priority</th>
        <th>receiverUserId</th>
        <th>creatorUserId</th>
    </tr>
    <tr *ngFor="let item of tickets">
        <td>{{item.id}}</td>
        <td>{{item.title}}</td>
        <td>{{item.roleid}}</td>
        <td>{{item.status}}</td>
        <td>{{item.createDate}}</td>
        <td>{{item.updateDate}}</td>
        <td>{{item.serviceId}}</td>
        <td>{{item.priority}}</td>
        <td>{{item.receiverUserId}}</td>
        <td>{{item.creatorUserId}}</td>
    </tr>
</table>